<div id="<%= dom_id supplier %>">
  <div>
    <strong>Name:</strong>
    <%= supplier.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= supplier.address %>
  </div>

  <div>
    <strong>City:</strong>
    <%= supplier.city %>
  </div>

  <div>
    <strong>State:</strong>
    <%= supplier.state %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= supplier.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= supplier.phone %>
  </div>

</div>
