<div id="<%= dom_id bean %>">
  <div>
    <strong>Supplier:</strong>
    <%= bean.supplier_id %>
  </div>

  <div>
    <strong>Type:</strong>
    <%= bean.type %>
  </div>

  <div>
    <strong>Product name:</strong>
    <%= bean.product_name %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= bean.price %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= bean.description %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= bean.quantity %>
  </div>

</div>
